table{
    border-collapse: collapse;
    width: auto;
    margin: 5vh 5vw;
}
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #3A465A;
    color: #E6EAF0;
}
a {
    text-decoration: none;
}
