nav {
  color: inherit;
  display: flex;
  font-weight: bold;
  font-size: 2rem;
  justify-content: center;
}
a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  transition-duration: 0.5s, 1s, 0.5s;
}
a:hover {
  color: rgb(0, 183, 255);
}
.mcu-logo {
  width: 300px;
  cursor: pointer;
}

.block {
  fill: white;
  transition: fill 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.block:hover {
  fill: red;
  transform: scale(1.05);
}
img {
  user-select: none;
  margin: 5em;
}

/* totootototo */

.box {
  fill: none;
  stroke: white;
  stroke-width: 3;
  fill: #1e90ff; /* ← block color */
    transition-duration: 0.5s;
  /* transition-dur ation: 5s,5s,5s; */
}
.label {
  fill: white;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  text-anchor: middle;
  dominant-baseline: middle;
}
.bus {
  stroke: white;
  stroke-width: 3;
  fill: none;
}

#cpu:hover {
  stroke: yellow;
  transform: scale(1.05);
  box-shadow: #000000 0 0 10px;
}
#rom:hover {
  stroke: yellow;
  transform: scale(1.05);
  box-shadow: #000000 0 0 10px;
}
#ram:hover {
  stroke: yellow;
  transform: scale(1.05);
  box-shadow: #000000 0 0 10px;
}
#io:hover {
  stroke: yellow;
  transform: scale(1.05);
  box-shadow: #000000 0 0 10px;
}
#clock:hover {
  stroke: yellow;
  transform: scale(1.05);
  box-shadow: #000000 0 0 10px;
}
#adress:hover {
  stroke: yellow;
  transform: scale(1.05);
  box-shadow: #000000 0 0 10px;
}
#donnee:hover {
  stroke: yellow;
  transform: scale(1.05);
  box-shadow: #000000 0 0 10px;
}


