
a {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  transition-duration: 1s, 1s, 0.5s;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  font-weight: bold;
  font-size: 5rem;
}
a:hover {
  color: rgb(255, 0, 0);
  text-shadow: 4px 4px 8px #000000;
  transform: scale(1.1);
}

/*  */

/* .hover-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  
}

.hover-text {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
}

.hover-container:hover .hover-text {
  display: block;
} */

.start {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  cursor: pointer;
  font-size: 3rem;
  position: relative;
}
/* Hover text */
.hover-text {
  position: relative;
  top: -20px;
  font-size: 1rem;
  margin-top: 10px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;

  background: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
}

/* Show on hover */
.hover-cont:hover .hover-text {
  opacity: 1;
  visibility: visible;
}
