body {
  font-family: Arial, sans-serif;
  
  margin: 20px;
  background: #0E1117;
  text-align: center;
  color: #E6EAF0;

}
/* Navigation */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  margin: 24px 0;

  font-size: 2rem;
  font-weight: 600;
}

nav a {
  position: relative;
}
a {
  color: #E6EAF0;
  text-decoration: none;
  margin: 0 15px;
  transition: color 160ms cubic-bezier(.2, .8, .2, 1);
  transition-duration: 200ms;
}

a:hover {
  color: #4FC3F7;
}
a:active {
  color: #000000;
}
.active-link {
  color: #e6eaf08a;
}
.active-link:hover {
  color: #4fc2f749;
}